.html {
  overflow: auto;
}

body {
  font-family: 'arial';
  font-size: 16px;
  color: black;
  background-color: #DCFFFA;
  z-index: 1;

}

h1 {
  font-family: 'arial';
  font-size: 70px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 0px;
  display: inline-block;
  padding-left: 55%;
}

h2 {
  font-family: 'arial';
  font-size: 25px;
  text-align: left;
  margin-top: 0px;
  margin-bottom: 10px;
  display: inline-block;
  padding-left: 55%;
}

#top p {
  font-size: 16px;
  text-align: left;
  display: inline-block;
  padding-left: 55%;
}


h3{
	font-size: 40px;
	margin-bottom: 0px;
	}

h5{
	font-size: 20px;
	}

br{
  font-size: 50px;
}

#gradient{
  width:100%;
  height:700px;
  background-image: linear-gradient(white, #DCFFFA);
  position: absolute;
  z-index: -1;
}

#linea{
  width:5px;
  height:3050px;
  background-color:#1F1F1F;
  position: absolute;
  left:50%;
  top:100px;
  z-index: 0;
  transform: translate(-50%, 0);
  border-radius: 15%;
}

#dot {
  height: 50px;
  width: 50px;
  background-color: #1F1F1F;
  border-radius: 50%;
  position: absolute;
  left:50%;
  top:97px;
  transform: translate(-50%, -50%);
  z-index: 0;
}

#dot2 {
  height: 50px;
  width: 50px;
  background-color: #1F1F1F;
  border-radius: 50%;
  position: absolute;
  left:50%;
  top:3150px;
  transform: translate(-50%, -50%);
  z-index: 0;
}


#meta .year h4{
  margin-top:70px;
  margin-left:44%;
  padding-top:5px;
  padding-bottom:5px;
  padding-left:15px;
  padding-right:15px;
  background-color:black;
  line-height:250px;
  width:200;
  font-size: 40px;
	display: inline-block;
	color: white;
	line-height:50px;
	border-radius: 40px;
}


.ancho {
  width: 30%;
  display: inline-block;
  margin-left: 5%;
}

#meta article.tipo1.ancho {
	margin-left:auto;
	text-align:right;

}

#meta article.tipo1 img {
	margin-left: 10%;
	width: 40%;
	display: inline-block;
	}

.ancho2 {
  width: 35%;
  display: inline-block;
  margin-left: 10%;
  text-align:right;
}

#meta article.tipo2.ancho2 {
	text-align:right;
}

#meta article.tipo2 img {
  margin-left: 10%;
	margin-right: 10%;
	width: 30%;
	display: inline-block;
}
